version: '3.8'

services:
  backend:
    build: .
    container_name: backend-socketio
    ports:
      - "3000:3000"
    environment:
      - DB_HOST=
      - DB_USER=
      - DB_PASSWORD=
      - DB_NAME=
      - DB_PORT=
    restart: always 